// https://jfly.uni-koeln.de/colorset/CUD_color_set_GuideBook_2018.pdf
$_COLORS: (
  "beige": #facd93,
  "blue": #006fbc,
  "brown": #8a3b2c,
  "cream": #fff9b0,
  "gray": #7d828d,
  "green": #04af7a,
  "light-gray": #dfe1e2,
  "light-green": #97cea2,
  "light-pink": #f9d1cb,
  "light-purple": #c6b7d9,
  "light-sky-blue": #bae3f9,
  "light-yellow-green": #cfdd4c,
  "orange": #f5a200,
  "pink": #f0908a,
  "purple": #b71a86,
  "red": #eb6120,
  "sky-blue": #6bc8f3,
  "yellow": #fff100,
);

$_COLORS_BW: (
  "bw-0": #000,
  "bw-1": #111,
  "bw-2": #222,
  "bw-3": #333,
  "bw-4": #444,
  "bw-5": #555,
  "bw-6": #666,
  "bw-7": #777,
  "bw-8": #888,
  "bw-9": #999,
  "bw-a": #aaa,
  "bw-b": #bbb,
  "bw-c": #ccc,
  "bw-d": #ddd,
  "bw-e": #eee,
  "bw-f": #fff,
);

$_FONT_SIZES: (
  "xxx-small": 0.5,
  "xx-small": 0.7,
  "x-small": 0.8,
  "small": 0.9,
  "medium": 1,
  "large": 1.2,
  "x-large": 1.44,
  "xx-large": 1.728,
  "xxx-large": 2.074,
);

:root {
  @each $color, $hex in $_COLORS {
    --color-#{$color}: #{$hex};
  }

  @each $color, $hex in $_COLORS_BW {
    --color-#{$color}: #{$hex};
  }

  @each $size, $value in $_FONT_SIZES {
    --font-size-#{$size}: #{$value};
  }
}
