@use "../../../global/extends";

html:lang(en) {
  address {
    font-style: italic;
  }

  article {
  }

  aside {
  }

  footer {
  }

  header {
  }

  h1 {
    + p {
      text-indent: 0;
    }
  }

  h2 {
    + p {
      text-indent: 0;
    }
  }

  h3 {
    + p {
      text-indent: 0;
    }
  }

  h4 {
    + p {
      text-indent: 0;
    }
  }

  h5 {
    + p {
      text-indent: 0;
    }
  }

  h6 {
    + p {
      text-indent: 0;
    }
  }

  main {
  }

  nav {
  }

  section {
  }
}
