@use "../../../global/extends";

html {
  blockquote {
    @extend %element-type-block;

    margin-block-end: 1rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
  }

  dd {
    @extend %element-type-block;

    padding-inline-start: 2rem;
  }

  dl {
    @extend %element-type-block;

    margin-block-end: 1rem;
  }

  dt {
    @extend %element-type-block;

    font-family: var(--font-family-sans-serif);
    font-weight: var(--font-weight-bold);
  }

  figcaption {
    @extend %element-type-block;

    display: table;
    margin-block-start: 0.5rem;
    margin-inline-end: auto;
    margin-inline-start: auto;
  }

  figure {
    @extend %element-type-block;

    margin-block-end: 1rem;
  }

  hr {
    @extend %element-type-block;

    border-block-end: none;
    border-block-start: solid var(--border-width-default)
      var(--border-color-default);
    border-inline-end: none;
    border-inline-start: none;
    margin-block-end: 1rem;
  }

  li {
    @extend %element-type-block;

    display: list-item;
  }

  ol {
    @extend %element-type-block;

    margin-block-end: 1rem;
    padding-inline-start: 2rem;

    ol,
    ul {
      margin-block-end: 0;
    }
  }

  p {
    @extend %element-type-block;

    margin-block-end: 1rem;
  }

  pre {
    @extend %element-type-block;

    font-family: var(--font-family-monospace);
    margin-block-end: 1rem;
    text-align: start;
    white-space: pre;
  }

  ul {
    @extend %element-type-block;

    margin-block-end: 1rem;
    padding-inline-start: 2rem;

    ol,
    ul {
      margin-block-end: 0;
    }
  }
}
