@use "../../../global/extends";

html {
  body {
    @extend %element-type-block;

    background: var(--background-color-body);
    color: var(--color-body);
    font-family: var(--font-family-serif);
    font-weight: var(--font-weight-normal);
    inline-size: 40rem;
    line-height: var(--line-height-body);
    margin-inline-end: auto;
    margin-inline-start: auto;
    overflow-wrap: break-word;
    text-align: justify;
  }
}
