@use "../../../global/extends";

html {
  // area {
  // }

  // audio {
  // }

  img {
    @extend %element-type-inline;

    image-rendering: auto;
    max-block-size: 100%;
    max-inline-size: 100%;
    vertical-align: bottom;
  }

  // map {
  // }

  track {
  }

  video {
  }
}
