$_LOCALES: (
  "en":
    "This page is not supported Internet Explorer. \A Try to use a modern browser such as Firefox, Google Chrome and Microsoft Edge.",
  "ja":
    "このページは Internet Explorer に対応していません。\A Firefox，Google Chrome，Microsoft Edge などのブラウザーをご利用ください。",
  // "zh": "",
);

@media screen\0 {
  html {
    body {
      overflow: hidden !important;

      &::before {
        background: #222;
        color: #ddd;
        content: map-get($_LOCALES, "en");
        display: block;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 700;
        height: 100%;
        left: 0;
        line-height: 1.75;
        padding: 1.5em;
        position: fixed;
        text-align: center;
        top: 0;
        white-space: pre-wrap;
        width: 100%;
      }

      @each $language, $message in $_LOCALES {
        &:lang(#{$language})::before {
          content: "#{$message}";
        }
      }
    }
  }
}
