@use "../../global/extends";
@use "../../global/mixin";

html {
  del {
    @extend %element-type-inline;

    color: var(--color-gray);
    text-decoration: line-through double;
  }

  ins {
    @extend %element-type-inline;

    text-decoration: none;
  }
}
