@use "../../global/extends";
@use "../../global/mixin";

canvas {
  @extend %element-type-inline;

  break-inside: avoid;
  image-rendering: auto;
  max-block-size: 100vh;
  max-inline-size: 100%;
  vertical-align: bottom;
}

script {
  @extend %element-type-hidden;
}
