@use "../../global/extends";
@use "../../global/mixin";

body {
  @extend %element-type-block;

  background: var(--background-color-body);
  color: var(--color-body);
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-body);
  overflow-wrap: break-word;
  text-align: justify;
}
