@use "../../global/extends";
@use "../../global/mixin";

a {
  @extend %element-type-inline;

  cursor: auto;
  text-decoration: none;

  &:link {
    color: var(--color-a);

    &:hover {
      border-block-end: dashed var(--border-width-default);
      cursor: pointer;
    }
  }

  &:visited {
    color: var(--color-a-visited);
  }
}

abbr {
  @extend %element-type-inline;
}

b {
  @extend %element-type-inline;

  font-weight: var(--font-weight-bold);

  @include mixin.lang(ja) {
    font-family: var(--font-family-sans-serif);
  }
}

cite {
  @extend %element-type-inline;

  font-style: italic;
}

code {
  @extend %element-type-inline;

  background: var(--background-color-code);
  border: solid var(--border-width-default) var(--border-color-default);
  font-family: var(--font-family-monospace);
  font-size: calc(var(--font-size-x-small) * 1em);
  padding-block-end: 0.1875rem;
  padding-block-start: 0.1875rem;
  padding-inline-end: 0.375rem;
  padding-inline-start: 0.375rem;
}

data {
  @extend %element-type-inline;
}

dfn {
  @extend %element-type-inline;

  font-style: italic;
}

em {
  @extend %element-type-inline;

  font-style: italic;
}

i {
  @extend %element-type-inline;

  font-style: italic;
}

kbd {
  @extend %element-type-inline;

  font-family: var(--font-family-monospace);
}

mark {
  @extend %element-type-inline;
}

q {
  @extend %element-type-inline;

  &::before,
  &::after {
    content: none;
  }
}

rp {
  @extend %element-type-ruby;
}

rt {
  @extend %element-type-ruby;

  text-transform: full-size-kana;
  user-select: none;
  white-space: nowrap;
}

ruby {
  @extend %element-type-ruby;
}

s {
  @extend %element-type-inline;

  color: var(--color-gray);
  text-decoration: line-through double;
}

samp {
  @extend %element-type-inline;

  font-family: var(--font-family-monospace);
}

small {
  @extend %element-type-inline;

  font-size: 1em;
}

strong {
  @extend %element-type-inline;

  font-weight: var(--font-weight-bold);

  @include mixin.lang(ja) {
    font-family: var(--font-family-sans-serif);
  }
}

sub {
  @extend %element-type-inline;

  font-size: calc(var(--font-size-x-small) * 1em);
  vertical-align: sub;
}

sup {
  @extend %element-type-inline;

  font-size: calc(var(--font-size-x-small) * 1em);
  vertical-align: super;
}

time {
  @extend %element-type-inline;
}

u {
  @extend %element-type-inline;

  text-decoration: underline wavy;
}

var {
  @extend %element-type-inline;

  font-family: var(--font-family-serif);
  font-style: italic;
}
