@font-face {
  font-family: "m9t Sans JP";
  font-weight: var(--font-weight-normal);
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"),
    local("YuGothic-Regular");
}

@font-face {
  font-family: "m9t Sans JP";
  font-weight: var(--font-weight-bold);
  src: local("YuGothic-Bold"), local("Yu Gothic Bold");
}

@font-face {
  font-family: "m9t Serif JP";
  font-weight: var(--font-weight-normal);
  src: local("YuMincho-Medium"), local("Yu Mincho Medium"),
    local("YuMincho-Regular");
}

@font-face {
  font-family: "m9t Serif JP";
  font-weight: var(--font-weight-bold);
  src: local("YuMincho-Bold"), local("Yu Mincho Bold");
}
